# Global rule for the whole codebase.
#  - Every PR needs to be reviewed by at least one member of the `ios-bot-owners` team.
#  - When a new PR arrives, GitHub auto reviewer assignment feature will be triggered, which will then pick 
#    members from the `iOS-Devs` team

* @babylonhealth/ios-devs @babylonhealth/ios-bot-owners
